$foreground: var(--foreground, #2D2D2D);
$background: var(--background, #ffffff);
$applicationBackground: var(--applicationBackground, #EFF1F3);
$radius: var(--radius, 3px);
$neutralUsage-darkest: var(--neutralUsage-darkest, 'Use foreground for text/icons. Use this color for building component features.');
$neutralUsage-darker: var(--neutralUsage-darker, 'sub headings/meta text');
$neutralUsage-dark: var(--neutralUsage-dark, 'disabled text');
$neutralUsage-light: var(--neutralUsage-light, 'borders');
$neutralUsage-lighter: var(--neutralUsage-lighter, 'backgrounds for hovering of cards when needed');
$neutralUsage-lightest: var(--neutralUsage-lightest, 'Background on data list rows');
$neutral-darkest: var(--neutral-darkest, #2D2D2D);
$neutral-darker: var(--neutral-darker, #696C74);
$neutral-dark: var(--neutral-dark, #A0A5AB);
$neutral-light: var(--neutral-light, #D5D9DE);
$neutral-lighter: var(--neutral-lighter, #EFF1F3);
$neutral-lightest: var(--neutral-lightest, #F8F9FA);
$primary-base: var(--primary-base, #D54400);
$primary-light: var(--primary-light, #FCECE6);
$primary-foreground: var(--primary-foreground, #ffffff);
$secondary-base: var(--secondary-base, #0A7C8E);
$secondary-light: var(--secondary-light, #E5F2F4);
$secondary-foreground: var(--secondary-foreground, #ffffff);
$tertiary-base: var(--tertiary-base, #696C74);
$tertiary-foreground: var(--tertiary-foreground, #ffffff);
$success-base: var(--success-base, #218323);
$success-light: var(--success-light, #E4F3E4);
$success-baseForeground: var(--success-baseForeground, #ffffff);
$success-lightForeground: var(--success-lightForeground, #2D2D2D);
$warning-base: var(--warning-base, #FFC100);
$warning-light: var(--warning-light, #FFF3CC);
$warning-baseForeground: var(--warning-baseForeground, #ffffff);
$warning-lightForeground: var(--warning-lightForeground, #2D2D2D);
$error-base: var(--error-base, #D10F0F);
$error-light: var(--error-light, #FFE8E8);
$error-baseForeground: var(--error-baseForeground, #ffffff);
$error-lightForeground: var(--error-lightForeground, #2D2D2D);
$focus: var(--focus, #6096e6bf);
$font-family: var(--font-family, 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif');
$font-url: var(--font-url, 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
$font-spec-1-usage: var(--font-spec-1-usage, 'Heading 1');
$font-spec-1-size: var(--font-spec-1-size, 2.5rem);
$font-spec-1-lineHeight: var(--font-spec-1-lineHeight, 3rem);
$font-spec-1-margin: var(--font-spec-1-margin, 1rem 0);
$font-spec-2-usage: var(--font-spec-2-usage, 'Heading 2');
$font-spec-2-size: var(--font-spec-2-size, 2rem);
$font-spec-2-lineHeight: var(--font-spec-2-lineHeight, 3rem);
$font-spec-2-margin: var(--font-spec-2-margin, 1rem 0);
$font-spec-3-usage: var(--font-spec-3-usage, 'Heading 3');
$font-spec-3-size: var(--font-spec-3-size, 1.5rem);
$font-spec-3-lineHeight: var(--font-spec-3-lineHeight, 2rem);
$font-spec-3-margin: var(--font-spec-3-margin, 1rem 0);
$font-spec-4-usage: var(--font-spec-4-usage, 'Heading 4');
$font-spec-4-size: var(--font-spec-4-size, 1.25rem);
$font-spec-4-lineHeight: var(--font-spec-4-lineHeight, 1.5rem);
$font-spec-4-margin: var(--font-spec-4-margin, 1rem 0);
$font-spec-5-usage: var(--font-spec-5-usage, 'Heading 5');
$font-spec-5-size: var(--font-spec-5-size, 1rem);
$font-spec-5-lineHeight: var(--font-spec-5-lineHeight, 1.5rem);
$font-spec-5-margin: var(--font-spec-5-margin, 1rem 0);
$font-spec-6-usage: var(--font-spec-6-usage, 'Heading 6');
$font-spec-6-size: var(--font-spec-6-size, .75rem);
$font-spec-6-lineHeight: var(--font-spec-6-lineHeight, 1rem);
$font-spec-6-margin: var(--font-spec-6-margin, 1rem 0);
$font-spec-7-usage: var(--font-spec-7-usage, 'Default page text');
$font-spec-7-size: var(--font-spec-7-size, 1rem);
$font-spec-7-lineHeight: var(--font-spec-7-lineHeight, 1.5rem);
$font-spec-7-margin: var(--font-spec-7-margin, 1rem 0);
$font-spec-8-usage: var(--font-spec-8-usage, 'Meta text - labels, placeholders, errors');
$font-spec-8-size: var(--font-spec-8-size, .75rem);
$font-spec-8-lineHeight: var(--font-spec-8-lineHeight, 1.125rem);
$font-spec-8-margin: var(--font-spec-8-margin, .25rem 0);
$font-spec-9-usage: var(--font-spec-9-usage, 'Subhead');
$font-spec-9-size: var(--font-spec-9-size, 1.25rem);
$font-spec-9-lineHeight: var(--font-spec-9-lineHeight, 2rem);
$font-spec-9-margin: var(--font-spec-9-margin, 1rem 0);
$font-spec-10-usage: var(--font-spec-10-usage, 'Tool tips, Table headings');
$font-spec-10-size: var(--font-spec-10-size, .6875rem);
$font-spec-10-lineHeight: var(--font-spec-10-lineHeight, 1rem);
