<DocsDemo as |demo|>
  <demo.example @name="action-banner-content-below.hbs">
    <Button @variant="primary" {{on "click" this.toggleError}}>
      Toggle Message Box
    </Button>

    <ActionBanner @show={{this.showError}} @variant="error">
      <svg viewBox="0 0 21 21" class="action-banner-icon"><g fill="none" fill-rule="evenodd" stroke="#992D38"><path d="M10.493.594L.54 20.327c-.084.17-.082.173.106.173h19.706c.18 0 .186-.01.105-.173L10.505.594c-.067-.134.056-.135-.012 0z"></path><path d="M10.5 14.5v-6M10.5 17.5v-1" stroke-linecap="round"></path></g></svg>
      This is a error banner
    </ActionBanner>
  </demo.example>

  {{!--
  <demo.example @name="action-banner-content-below.js">
    import Controller from '@ember/controller';
    import { action } from '@ember/object';
    import { tracked } from '@glimmer/tracking';

    export default class ApplicationController extends Controller {
      @tracked showError = false;

      @action
      toggleError() {
        this.showError = !this.showError;
      }
    }
  </demo.example>
  --}}

  {{demo.snippet 'action-banner-content-below.hbs'}}
  {{demo.snippet 'action-banner-content-below.js'}}
</DocsDemo>
