<DocsDemo as |demo|>
  <demo.example @name="button-loading.hbs">
    <Button @variant="primary" @isLoading={{true}}>Primary</Button>
    <Button @variant="tertiaryOutlined" @isLoading={{true}}>Tertiary</Button>
  </demo.example>

  {{demo.snippet 'button-loading.hbs'}}
</DocsDemo>
