@import 'mbkit-ember';

.card {
  margin-bottom: 24px;
}

#example-card-demo-1\.hbs {
  background: #eee;
}

.docs-list-disc {
  margin-left: 2.5rem;
}

#example-button-variant\.hbs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 16px;
  margin-bottom: 24px;

  .icon,
  .iconPrimary {
    width: 40px;
  }
}

#example-input-basic\.hbs input {
  margin-bottom: 1rem;
}

#example-input-icons\.hbs {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

#example-radio-basic\.hbs {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: .5rem;
  }
}

#example-radio-accessibility\.hbs {
  fieldset {
    border: 2px groove #ccc;
    padding: 10px 12px;
  }

  label {
    display: block;
    margin-bottom: .5rem;
  }
}

#example-textarea-basic\.hbs {
  > div:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

#example-textarea-invalid\.hbs {
  display: grid;
  gap: 1rem;
}

#example-toggle-basic\.hbs {
  > div:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

#example-action-banner-states\.hbs {
  > div:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

#example-action-banner-content-below\.hbs {
  button {
    margin-bottom: 1rem;
  }
}
