<DocsDemo as |demo|>
  <demo.example @name="toggle-label.hbs">
    <Toggle id="feature-a" aria-labelledby="feature-a-label" />
    <label for="feature-a" id="feature-a-label">Feature A</label>
  </demo.example>

  {{demo.snippet 'toggle-label.hbs'}}
</DocsDemo>
