<DocsDemo as |demo|>
  <demo.example @name="banner-link.hbs">
    <Banner @variant="info" @header="Looking for some information?">
      You might be able to find it on the <a href="#">details page</a>
    </Banner>
  </demo.example>

  {{demo.snippet 'banner-link.hbs'}}
</DocsDemo>
