<DocsDemo as |demo|>
  <demo.example @name="radio-accessibility.hbs">
    <fieldset>
      <legend>Please select your favorite workout</legend>
      <label>
        <Radio name="workout" value="yoga" /> Yoga
      </label>
      <label>
        <Radio name="workout" value="barre" /> Barre
      </label>
      <label>
        <Radio name="workout" value="weight lifting" /> Weight lifting
      </label>
    </fieldset>
  </demo.example>

  {{demo.snippet 'radio-accessibility.hbs'}}
</DocsDemo>
